// Styles for Nodes
// -----------------------------------------------------------------------------

header{
  background-color: $theme-primary-color;
  text-align: center;
  padding: 20px 0;
  .site-slogan{
    font-family: $font-family-sans-serif;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 400;
  }

  .site-name{
    margin: 0;
    font-size: 5rem;
    line-height: 1.2em;
    font-family: $font-family-serif;
    font-weight: 400;
    text-transform: uppercase;
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }

  img{
    width: 240px;
    height: auto;
  }

}
#main-wrapper{
  @media only screen and (min-width : $screen-sm-min) {
    #content{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      .sidebar{
        @include flex(0 0 25%);
      }
      .content{
          @include flex(1 0 73%);
      }
    }
  }
}

.field-name-body{
  font-size: 1.6rem;
  font-family: $font-family-serif;
  line-height: 1.5;
}

footer{
  background-color: $theme-footer-color;
  margin: 0 !important;
  padding: 10px 0;
  .block__content{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      color: #FFF;
  }
  .justliving-footer-office{
    text-transform: uppercase;
    font-weight: 600;
  }
  .theme-contact{
    margin-top: 10px;
    ul{
      padding: 0;
      margin: 0;
      text-align: right;
      li{
        display: inline-block;
        list-style-type: none;
      }
    }
    p{
      text-align: right;
      font-size: 1.3em;
      color: #FFF;
    }
    a{
      color: #FFF;
    }
    .social-media-icon a{
      display: block;
      line-height: 999px;
      overflow: hidden;
      text-align: center;
      width: 34px;
      height: 34px;
      color: $theme-footer-color;
      @include inline-block;
      margin-right: .3em;
      text-decoration: none;
      background-color: #FFF;
      @include border-radius(17px);

      &:before {
        text-align: center;
        margin-top:7px;
        font-size: 1.4em;
        line-height: normal;
        display: block !important;
      }
    }
    .facebook:before{
        @include icon($fa-var-facebook);
    }
    .twitter:before{
        @include icon($fa-var-twitter);
    }
    .instagram:before{
        @include icon($fa-var-instagram);
    }
    .youtube:before{
        @include icon($fa-var-youtube);
    }
    .unit-link{
      font-size: 1.8em;
      margin-top: 10px;
      font-weight: 600;
      text-transform: uppercase;

    }
  }

}


.node-type-collaborator{
  .entity-field-collection-item{
    .field-label{
      width: inherit;
    }
  }
}
