// Styles for Views
// -----------------------------------------------------------------------------

.view-display-id-front_page_feature_panel{
  background-color: $theme-link-color;
  margin-bottom: 20px;
  padding-right: 20px;
  @include clearfix();
  a{
    color: $theme-footer-color;
    &:hover{
      text-decoration: none;
    }
  }
  .views-field-field-image{
    margin-right: 20px;
    float: left;
  }
  .views-field-title{
    font-size: 3em;
    padding-top: 20px;
  }
  .btn-default{
    background-color: $theme-alt-color;
    border-color: $theme-footer-color;
  }
}

.view-id-people{
  .views-field-title{
    font-size: 1.2em;
    font-weight: 700;
  }
  .views-field-field-person-attributes{
    li{
      list-style-type: none;
      margin: 0;
      .field-name-field-person-attribute-title{
        float: left;
        margin-right: 5px;
      }
    }
  }
}

.page-about-advisory-board,
.page-about-planning-committee{
  .field-name-field-person-attribute-title{
    display: none;
  }
}


.view-id-partners{
  .views-row{
    clear: left;
    .views-field-field-partner-logo{
      float: left;
      margin-right: 20px;
    }
    .views-field-title{
      font-size: 1.2em;
      font-weight: 700;
      padding-top: 40px;
    }
  }
}
